<%- include ("partials/header") %>
<h1>First EJS</h1>
<h2> alot of fun!!!!</h2>
<img width="640" height="440" src="https://biomedicalodyssey.blogs.hopkinsmedicine.org/files/2020/02/programming-code-window-GettyImages-1124838925_640.jpg" class=" wp-post-image wp-image-6016" alt="An illustration of programming and coding application window with lines of code." srcset="https://biomedicalodyssey.blogs.hopkinsmedicine.org/files/2020/02/programming-code-window-GettyImages-1124838925_640.jpg 640w, https://biomedicalodyssey.blogs.hopkinsmedicine.org/files/2020/02/programming-code-window-GettyImages-1124838925_640-300x206.jpg 300w, https://biomedicalodyssey.blogs.hopkinsmedicine.org/files/2020/02/programming-code-window-GettyImages-1124838925_640-474x325.jpg 474w" sizes="(max-width: 640px) 100vw, 640px">
<%- include ("partials/footer") %>