<%- include ("partials/header") %>

<h1>You fell in love with <%= thingVar %>...... </h1>
<% if (thingVar.toLowerCase() ==="dharmik"){  %>
<h2>Good Choice! DHARMIK is the best.</h2>
<% } %>

<%- include ("partials/footer") %>